<% if notice %>
      <div class="alert alert-info">
        <%= notice %>
      </div>
    <% end %>
<h1>Listing Carts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= link_to '詳細', cart %></td>
        <td><%= link_to '編集', edit_cart_path(cart) %></td>
        <td><%= link_to '削除', cart, method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart', new_cart_path %>
