<% if notice %>
      <div class="alert alert-info">
        <%= notice %>
      </div>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to '編集', edit_product_path(@product) %> |
<%= link_to '戻る', products_path %>
